html, body, div, canvas {
    margin: 0px;
    padding: 0px;
    overflow-y:hidden;
    overflow-x:hidden;
}
#elegirNave {
    text-align:center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:40em;
    height:18em;
    margin-top: -9em; 
    margin-left: -20em; 
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding:10px;
}

#msgWaiting {
    text-align:center;
    position:fixed;
    top: 50%;
    left: 50%;
    width:20em;
    height:5em;
    margin-top: -2.5em; 
    margin-left: -10em; 
    border: 1px solid #ccc;
    font-size:23px;
    background-color: #f3f3f3;
    padding:10px;
    display:none;
}
.nave {
    margin: 10px;
    padding:auto
    width: 200px;
    border:1px solid black;
    /* float: right; */
    display: inline-block;
    cursor:pointer;
}


